html{
    padding-left: 5vw;
    background-color: #e6dfdf;
}

body {
    margin-top: 2vw;
    margin-left: 12vw;
    padding: 3vw;
    position:center;
    height: 37vw;
    width: 60vw;
    border: 0.5vw solid red;
    border-radius: 0.8vw;
    text-align: start;
}

.PARTE1{
    width:400px;
    height:300px;
    text-align:start; 
    float:left;
}

.PARTE2{
    width: 400px;
    height: 240px;
    text-align: start;
    float:right;
}

a{
    display:block;
    text-align:bottom;
    color:white;
}

button{
    color: white;
    margin-left: 23vw;
    margin-top: 35vw;
    max-height: 7vw;
    max-width: 15vw;
    height: 3vw;
    width: 10vw;
    display: block;
    float: bottom;
    border-radius: 0.5vw;
    background-color: rgb(78, 90, 78);
    cursor: pointer;
}