body {
    background-color: rgb(108, 106, 106);
    display: flex;
}

.logosmteco img {
    border-radius: 70%;
    
}

.logoformulario img {
    border-radius: 70%;
    
}

.logomygithub img {
    border-radius: 70%;
    
}

.logobobesponja img {
    border-radius: 70%;
    
}

.logoatividade1 img {
    border-radius:70%;
    
}

.logomusica img {
    border-radius: 70%;
    
     
}

.aula0307 img {
    border-radius: 70%;
    
}

.amogus img {
    border-radius: 70%;
    
}

.sushiseria img {
    border-radius: 70%;
}

.login img {
    border-radius: 70%;
    
}

.fixacao img {
    border-radius: 70%;
    
}

.imgresponsiva img {
    border-radius: 70%;
    
}

.tabela img{
    border-radius: 70%;
}