body {
    background-color: rgb(108, 106, 106);
}

header {
    height: 105px;
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    margin-top: 5px;
    padding-top: 35px;
}

nav {
    grid-area: navegador;
    width: 40vw;
    height: 30vw;
    background-color: rgb(235, 137, 46);
}

.myfoto {
    margin-left: 15vw;
    margin-top: 0.5vw;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    border: 0.2vw solid red;
}

footer {
    grid-area: rodape;
    width: 100%;
    height: 10vw;
    background-color: red;
}